<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Daryabsofe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8EBD74C31D61D553000B635C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EBD74DC1D61D554000B635C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EBD74E71D61D554000B635C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
